@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

body {
  font-family: Inter, -apple-system, system-ui, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

.prose pre {
  @apply rounded-2xl bg-surface-1;
}

.prose .post-content {
  h1,
  h2 {
    scroll-margin-top: 64px;
  }
  iframe {
    @apply my-8 h-[320px] w-full rounded-lg border border-border;
  }
  img {
    @apply mx-auto max-h-screen rounded-2xl border border-border;
    + em {
      @apply -mt-6 mb-12 block text-center;
    }
  }
  blockquote {
    @apply border-l-4 border-primary bg-[#412626] py-1.5 pr-3 pl-4 not-italic text-inherit;
  }
  video {
    margin-left: auto;
    margin-right: auto;
  }
}

@import 'pre-code.scss';

::view-transition-old(root) {
  animation-name: view-out-opacity;
}
::view-transition-new(root) {
  animation-name: view-in, view-in-opacity;
}

@keyframes view-out-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes view-in {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0%, 0, 0);
  }
}
@keyframes view-in-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  view-transition-name: header;
}
.post-image {
  view-transition-name: post-image;
}
.post-date {
  view-transition-name: post-date;
}
.prose h1 {
  view-transition-name: post-title;
  width: fit-content;
}

::view-transition-old(root),
::view-transition-new(root),
::view-transition-group(post-image),
::view-transition-image-pair(post-image),
::view-transition-old(post-image),
::view-transition-new(post-image),
::view-transition-group(post-title),
::view-transition-image-pair(post-title),
::view-transition-old(post-title),
::view-transition-new(post-title),
::view-transition-group(post-date),
::view-transition-image-pair(post-date),
::view-transition-old(post-date),
::view-transition-new(post-date) {
  animation-duration: 800ms !important;
  animation-timing-function: cubic-bezier(0, 1, 0.2, 1);
}
