@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

body {
  font-family: Inter, -apple-system, system-ui, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

.prose pre {
  @apply rounded-2xl bg-surface-1;
}

.prose .post-content {
  h1,
  h2 {
    scroll-margin-top: 64px;
  }
  iframe {
    @apply my-8 h-[320px] w-full rounded-lg border border-border;
  }
  img {
    @apply mx-auto max-h-screen rounded-2xl border border-border;
    + em {
      @apply -mt-6 mb-12 block text-center;
    }
  }
  blockquote {
    @apply border-l-4 border-primary bg-[#412626] py-1.5 pr-3 pl-4 not-italic text-inherit;
  }
  video {
    margin-left: auto;
    margin-right: auto;
  }
}

@import 'pre-code.scss';

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~='not-prose'] *)
  )::before {
  content: '';
}

.prose h1 {
  width: fit-content;
}
